<div class="profileForm container">
  <h2>Join the fun today!</h2>
  <form method="POST" action="/signup">
    <ul>
      <li>
        <input type="text" name="userName" id="userName" placeholder="Your Pidgeon name" required />
      </li>
      <li>
        <input type="email" name="mail" id="mail" placeholder="Your e-mail address" required />
      </li>
      <li>
        <input type="password" name="password" placeholder="Your password" required />
      </li>
      <li>
        <input class="button" type="submit" value="Sign up" />
      </li>
    </ul>
  </form>
</div>
