<div class="profileForm">
  <h2>{{currentUser.userName}}'s Profile</h2>
  <form name="profileForm" method="POST" action="">
    <ul>
      <li>
        <input type="mail" name="mail" id="mail" placeholder="Your e-mail address" value="{{currentUser.mail}}" />
      </li>
      <li>
        <input type="text" name="twitter" id="twitter" placeholder="Your Twitter ID" value="{{currentUser.twitter}}" />
      </li>
      <li>
        <input type="text" name="facebook" id="facebook" placeholder="Your Facebook ID" value="{{currentUser.facebook}}" />
      </li>
      <li>
        <input type="text" name="linkedin" id="linkedin" placeholder="Your LinkedIn ID" value="{{currentUser.linkedin}}" />
      </li>
      <li>
        <input type="password" name="password" id="password" placeholder="Your actual password" />
      </li>
      <li>
        <input class="button" type="submit" value="Save"/>
      </li>
    </ul>
  </form>
</div>
