<div class="profileForm">
  <form name="profileForm" method="POST" action="{{action}}">
    <input type="text" name="first_name" id="first_name" hint="First name" value="{{userFirstName}}" required />
    <input type="text" name="last_name" id="last_name" hint="Last name" value="{{userLastName}}" required />
    <input type="text" name="name" id="name" hint="Your Pidgeon name" value="{{userName}}" required />
    <input type="text" name="twitter_id" id="twitter_id" hint="You" value="{{userName}}" />
    <input type="submit" />
  </form>
</div>
