<div class="profileForm">
  <h2>{{user.userName}}'s Profile</h2>
  <form name="profileForm" method="POST" action="">
    <ul>
      <li>
        <input type="email" name="email" id="email" placeholder="Your e-mail address" value="{{user.email}} />"
      </li>
      <li>
        <input type="text" name="twitter" id="twitter" placeholder="Your Twitter ID" value="{{user.twitter}}" />
      </li>
      <li>
        <input type="text" name="facebook" id="facebook" placeholder="Your Facebook ID" value="{{user.facebook}}" />
      </li>
      <li>
        <input type="text" name="linkedin" id="linkedin" placeholder="Your LinkedIn ID" value="{{user.linkedin}}" />
      </li>
      <li>
        <input class="button" type="submit" value="Save"/>
      </li>
    </ul>
  </form>
</div>
