<li class="pidgey_container">
  <div class="pidgey_user">
    <img class="user_picture" src="{{pidgeyUserPicture}}" alt="{{pidgerUserName}}'s picture'" />
  </div>
  <div class="pidgey_content">

  </div>
</li>
