<!DOCTYPE html>
<html>
<head>
  <title>Home – Pidgeon</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="pidgeon.css"  />
</head>
<body>
  <div class="golden">
    <div class="golden_a main">
      <div class="list_pidgeys">
        <section class="pidgey_container golden">
          <a class="pidgey_user" href="#">
            <div class="crop_circle">
              <img class="user_picture" src="/Users/tydax/Pictures/derrick.png/" alt="" />
            </div>
            <h6 class="user_name">Narxem</h6>
          </a>
          <div class="pidgey_content">
            <p class="pidgey_text">
              Mes amis sont vraiment bizarres.
            </p>
            <div class="pidgey_bottom">
              <p class="pidgey_timer">
                Sent at 13:05 on 10th December, 2016
              </p>
            </div>
          </div>
        </section>

        <section class="pidgey_container golden">
          <a class="pidgey_user" href="#">
              <div class="crop_circle">
                <img class="user_picture" src="/Users/tydax/Dropbox/reaction images/IMG_20161128_173616.jpg" alt="" />
              </div>
              <h6 class="user_name">Haelia</h6>
          </a>
          <div class="pidgey_content">
            <p class="pidgey_text">
              <a class="text_userlink" href="#">@Tydax</a> Sérieux ? Moi aussi !
            </p>
            <div class="pidgey_bottom">
              <p class="pidgey_timer">
                Sent at 13:03 on 10th December, 2016
              </p>
            </div>
          </div>
        </section>

        <section class="pidgey_container golden">
          <a class="pidgey_user" href="#">
            <div class="crop_circle">
              <img class="user_picture" src="/Users/tydax/Pictures/autoportrait_cantseethehaters.jpg" alt="" />
            </div>
            <h6 class="user_name">Tydax</h6>
          </a>
          <div class="pidgey_content">
            <p class="pidgey_text">
              J’ai fait caca ce matin.
            </p>
            <div class="pidgey_bottom">
              <ul class="pidgey_list_hashtags">
                <li><a class="pidgey_hashtag" href="#">#WC</a></li>
                <li><a class="pidgey_hashtag" href="#">#Microblogging</a></li>
              </ul>
              <p class="pidgey_timer">
                Sent at 13:01 on 10th December, 2016
              </p>
            </div>
          </div>
        </section>

      </div>
    </div>
    <div class="golden_b sidebar">
      <h1 class="app_title"><a href="#">Pidgeon</a></h1>
      <a class="sidebar_user" href="#">
        <div class="crop_circle">
          <img class="user_picture" src="/Users/tydax/Pictures/autoportrait_cantseethehaters.jpg" alt="" />
        </div>
        <h3 class="user_name">Tydax</h3>
      </a>
      <nav class="menu">
        <ul>
          <li><a href="#">Edit my profile</a></li>
          <li><a href="#">Sign out</a></li>
        </ul>
      </nav>
    </div>
    </div>
  </div>
</body>
</html>
